{% extends 'AppGasco/index.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f7f6;
        margin: 0;
        padding: 0;
    }

    h1 {
        color: #333;
        text-align: center;
        margin-top: 20px;
    }

    .cliente-details {
        width: 50%;
        margin: 40px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .cliente-details p {
        color: #333;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .cliente-details i {
        font-style: italic;
        color: #007bff;
    }

    .back-button {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 15px;
        background-color: #6c757d;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .back-button:hover {
        background-color: #5a6268;
    }
</style>

<h1>Detalles del Cliente</h1>

<div class="cliente-details">
    <p>Nombre del cliente: <i>{{ cliente.nombre_cliente }}</i></p>
    <p>Apellido del cliente: <i>{{ cliente.apellido }}</i></p>
    <p>Email del cliente: <i>{{ cliente.email }}</i></p>
    <p>Telefono del cliente: <i>{{ cliente.telefono }}</i></p>
    <p>Dirección del cliente: <i>{{ cliente.direccion }}</i></p>

    <a href="{% url 'List_Cliente' %}" class="back-button">Regresar</a>
</div>

{% endblock main %}
