{% extends 'AppGasco/index.html' %}

{% load static %}

{% block title %} Lista de Categorias {% endblock title %}

{% block main %}
    <h1>Categorías</h1>

    <ul>
        {% for categoria in object_list %}
            <li>
                <p>Nombre: {{ categoria.nombre_categoria }}</p>
                <p>
                    <a href="{% url 'Detail' categoria.pk %}">Ver</a>
                    <a href="{% url 'Edit' categoria.pk %}">Editar</a>
                    <a href="{% url 'Delete' categoria.pk %}">Borrar</a>
                </p>
            </li>
        {% empty %}
            <p>No hay categorías disponibles.</p>
        {% endfor %}
    </ul>
{% endblock main %}