{% extends 'AppGasco/index.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f7f6;
        margin: 0;
        padding: 0;
    }

    h1 {
        color: #333;
        text-align: center;
        margin-top: 20px;
    }

    .producto-details {
        width: 50%;
        margin: 40px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .producto-details p {
        color: #333;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .producto-details i {
        font-style: italic;
        color: #007bff;
    }

    .back-button {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 15px;
        background-color: #6c757d;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .back-button:hover {
        background-color: #5a6268;
    }
</style>

<h1>Detalles del Producto</h1>

<div class="producto-details">
    <p>Nombre del Producto: <i>{{ producto.nombre_producto }}</i></p>
    <p>Descripción del producto: <i>{{ producto.descripcion_producto }}</i></p>
    <p>Precio del producto: <i>{{ producto.precio }}</i></p>
    <p>Stock del producto: <i>{{ producto.stock }}</i></p>
    <p>Categorias del producto: <i>{{ producto.categorias }}</i></p>

    <a href="{% url 'List_Producto' %}" class="back-button">Regresar</a>
</div>

{% endblock main %}
